.container {
  max-width: min(95%, 1850px);
  margin-inline: auto;
  background-color: hsl(271, 84%, 83%);
}

.word-container {
  display: flex;
  gap: 0.5rem;
}

.letter {
  min-width: 2.5rem;
  background-color: rgb(189, 240, 113);
  text-align: center;
  font-size: 2rem;
  max-width: 100%;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: white;
}

.movie-container {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
